@import "tailwindcss";

:root {
    --bg: #ffffff;
    --fg: #000000;
}
.dark {
    --bg: #000000;
    --fg: #ffffff;
}
body {
    background: var(--bg);
    color: var(--fg);
}
* {
    transition: background-color 200ms ease, color 200ms ease, border-color 200ms ease;
}

button {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--fg);
    opacity: 0.4;
    border-radius: 4px;
}

/*.input {*/
/*    border: 1px solid var(--fg);*/
/*    padding: 0.5rem 0.75rem;*/
/*    background: transparent;*/
/*}*/
